hello
SDL/text.txt
SDL/opengl_migration/CMakeFiles/
CMakeFiles/
/CMakeFiles/
SDL/jeux-video/build/.cmake/*
*testData*
*_region_.*
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.log
*.el
*.in
*.out
testing/souro/*
*.jpeg
*/build/*
